/* BOX CONTENT SLIDER */

.fr-box-slide {
  position:relative;
}

.fr-box-slide .fr-box-content {
  background: white;
  position:absolute;
  top:0px;
  left:0px;
  bottom:0px;
  right:0px;
  padding:20px;
  display:none;
  z-index:1;
  width:100%;
  height:100%;
  overflow:hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
}