/* CUSTOM SELECT */
.fr_custom_select {
	position:relative;
	white-space: nowrap;
}
.fr_custom_select select {
  display:none!important;
}
.fr_custom_select .list {
	max-height:300px;
	border:1px solid #e1e1e1;
	background-color:white;
	position:absolute;
	width:100%;
	display:none;
	z-index:7;
}


.fr_custom_select input.view {
	cursor:pointer;
	color:#818181;
  	border: 0px;
  	width: 100%;
}
@media(max-width:768px){
	.fr_custom_select input.view {
		font-size: 16px!important;
	}
}
.fr_custom_select .view i {
	transition:All 0.5s ease;
    -webkit-transition:All 0.5s ease;
    -moz-transition:All 0.5s ease;
    -o-transition:All 0.5s ease;
}
.fr_custom_select.open .view i {
	transform: rotate(180deg);
}

.fr_custom_select .list .item{
	padding:10px;
	border-bottom:1px solid #e1e1e1;
}

.fr_custom_select .list .item:hover,
.fr_custom_select .list .item.active {
	background-color:#f9f9f9;
}

.fr_custom_select label {
	display:block!important;
	height:auto!important;
}

.fr_custom_select .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	background: #00b4ab;
	background: -webkit-linear-gradient(#00b4ab, #04bf7b);
	background: -o-linear-gradient(#00b4ab, #04bf7b);
	background: -moz-linear-gradient(#00b4ab, #04bf7b);
	background: linear-gradient(#00b4ab, #04bf7b);
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	width:10px!important;
}

.fr_custom_select .mCSB_scrollTools {
	border:1px solid #e1e1e1;
	border-right:0px;
	width:21px;
	background-color:#f9f9f9;
}

.fr_custom_select [type="checkbox"] + label,
.fr_custom_select [type="radio"] + label {
	font-size:inherit;
}

.fr_custom_select [type="checkbox"] + label:before {
	display:none;
}

.fr_custom_select [type="checkbox"]:checked + label:after {
	width:26px;
	height:26px;
	-webkit-transform:none;
	transform: none;
}

.fr_custom_select [type="checkbox"]:not(:checked) + label:after {
	-webkit-transform:none;
	transform: none;
	background-color:white;
	width:26px;
	height:26px;
	border:1px solid #E1E1E1!important;
}


.fr_custom_select [type="radio"]:not(:checked) + label:before, [type="radio"]:not(:checked) + label:after {
	border: 1px solid #e1e1e1;
	background-color:white;
}


.fr_custom_select [type="radio"]:checked + label:before {
	border: 1px solid #e1e1e1;
}

.fr_custom_select [type="radio"]:checked + label:after {
	-webkit-transform: scale(0.52);
    transform: scale(0.52);
}

.fr_custom_select.icon-before:before {
	background-image:url("../images/voicecrafters-sprites.png");
	background-size: 516px 1028px;
	position:absolute;
	display:block;
	content:"";
	margin-top:12px;
	margin-left:10px;
	z-index:1;
}

.fr_custom_select.icon-before .view {
	text-indent: 30px;
}

.fr_custom_select .view {
	padding: 5px 10px;
	cursor: pointer;
}
.fr_custom_select .view .arrow {
	font-size: 25px;
	margin-left: 10px;
}


.fr_custom_select .mCSB_inside > .mCSB_container {
	margin-right:21px;
}