body {
	background-size:cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight:bold;
	line-height: 1.4em;
	margin-top:0px;
}

h1 {font-size:2em;}
h2 {font-size:1.5em;}
h3 {font-size:1.3em;}
h4 {font-size:1.2em;}
h5 {font-size:1.1em;}
h6 {font-size:1em;}

sup {
	font-size: 60%;
}

img {
	border: 0;
	max-width:100%;
	height:auto;
}

i {
	vertical-align: middle;
}


/* FORM ELEMENTS */

input[type=text],
input[type=tel],
input[type=email],
input[type=password],
input[type=number],
select,
textarea {
	width:100%;
	background-color:white;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border:1px solid #DBDBDB;
	margin-bottom:0px;
	padding:0px 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
	font-size:16px;
}

textarea {
	padding:10px 15px;
}




/* Default ul,ol style */

ul,
ol {
	margin-left:40px;
	padding-left:0px;
}

ul li,
ol li {
	padding:10px 0px;
}

ul li::before {
	width:7px;
	height:7px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background-color:#4dc3df;
	display:inline-block;
	content:"";
	position:absolute;
	margin-left:-15px;
	margin-top:6px;
}

@media (max-width:600px){
	ul {
		margin-left:20px;
	}
}


/* No ul style */

ul.no-style,
.no-style ul {
	margin-left:0px;
}

ul.no-style li,
.no-style ul li{
	padding:0px;
} 
ul.no-style li::before,
.no-style ul li::before{
	display:none;
}



/* Placeholder color */

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
		color:    #A7A8AC;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color:    #A7A8AC;
	opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	color:    #A7A8AC;
	opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color:    #A7A8AC;
}



/* ANIMATION */

.spin {
	-webkit-animation-name: spin;
    -webkit-animation-duration: 4000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 4000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 4000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    
    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}



/* BUTTONS */

.btn,
.gform_button,
.btn:hover,
.gform_button:hover,
.button,
.button:hover,
.button.checkout-button,
.button.place_order,
.button.gform_button {
	background-color:#DF3D52;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	text-transform:none;
	border:0px;
	color:white;
	font-size:14px;
	padding: 0px 20px;
	line-height:36px;
	height:36px;
}

.btn.large {
	padding:0px 40px;
	height:50px;
	line-height: 50px;
	font-size: 14px;
}




/* LOADING OVERLAY */


.loading_overlay {
	background-color:rgba(255,255,255,0.8);
	position:absolute;
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	z-index:2;
	text-align:center;
}

.loading_overlay>.wrap {
	display:table;
	height:100%;
	width:80%;
	margin:auto
}

.loading_overlay>.wrap>.inner {
	display:table-cell;
	vertical-align: middle
}