
/* SLIDER */

.fr-slider {
	position:relative;
	width:100%;
}

.fr-slider .slides{
	width:100%;
	height:100%;
}

.fr-slider .slide{
	width:100%;
}

.fr-slider .arrow {
	position:absolute;
	top:0px;
	z-index:1;
	background-color:white;
	padding:0px 5px;
}

.fr-slider .arrow.prev {
	left: 0px;
}

.fr-slider .arrow.next {
	right: 0px;
}