/* TABS */

.fr-tabs {
	text-align:center;
	margin:30px 0px;
	line-height:16px;
	overflow:hidden;
	font-size:16px;
	font-weight:bold;
	text-transform: uppercase;
}
.fr-tabs .tab {
	color:#272e2b;
	border-right:1px solid #e2e2e1;
	display:block;
	padding:0px 20px;
}


.fr-tabs .tab.active::after {
	content:"";
	display:block;
	height:4px;
	clear:both;
	background: #00b4ab;
	background: -webkit-linear-gradient(left,#00b4ab, #04bf7b);
	background: -o-linear-gradient(right,#00b4ab, #04bf7b);
	background: -moz-linear-gradient(right,#00b4ab, #04bf7b);
	background: linear-gradient(right,#00b4ab, #04bf7b);
	margin:4px 0px 0px;
}

.fr-tab-content>.content {
	display:none;
}
.fr-tab-content>.content.active {
	display:block;
}