/* TOGGLE BOX BOTTOM */

.fr_toggle_box{
    position:fixed;
    bottom:0px;
    left:0px;
    right:0px;
    z-index:1000;
}

.fr_toggle_box .bg {
    position:fixed;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    background-color:rgba(0,0,0,0.5);
    display:none;
}

.fr_toggle_box .box_content {
    background-color:white;
    width:100%;
    z-index:1;
    position:fixed;
    bottom:0px;
    display:none;
}

.fr_toggle_box .handle {
    background-color:#212121;
    padding:20px 30px;
    color:white;
    font-size:18px;
    font-weight:bold;
    text-transform: uppercase;
    width:500px;
    max-width:100%;
    margin:auto;
    margin-top:-66px;
    cursor: pointer;
}

.fr_toggle_box.active .handle i{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}