/* MULTILANGUAGE */

body.rtl .ltr {
  direction: ltr;
}
body.rtl .rtl {
  direction: rtl;
}

body.rtl .col,
body.rtl .rtl .col {
  float:right;
}

body.rtl .ltr .col {
  float:left;
}




body.rtl .rtl-right,
body.rtl .rtl .rtl-right {
  float:right;
}
body.rtl .ltr .rtl-right {
  float:left;
}

body.rtl .rtl-left,
body.rtl .rtl .rtl-left {
  float:left;
}
body.rtl .ltr .rtl-left {
  float:right;
}





body.rtl .ltr-inline-block,
body.rtl .rtl .ltr-inline-block {
  display:none!important;
}
body.rtl .ltr .ltr-inline-block {
  display:inline-block!important;
}
.rtl-inline-block {
  display:none!important;
}
body.rtl .rtl-inline-block,
body.rtl .rtl .rtl-inline-block {
  display:inline-block!important;
}
body.rtl .ltr .rtl-inline-block {
  display:inline-block!important;
}