.Zebra_DatePicker {
    position: absolute;
    background: #666;
    z-index: 1200;
    top: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 3px solid #666;
    border-radius: 5px;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.Zebra_DatePicker *,
.Zebra_DatePicker *:after,
.Zebra_DatePicker *:before {
    -moz-box-sizing: content-box !important;
    -webkit-box-sizing: content-box !important;
    box-sizing: content-box !important;
}

.Zebra_DatePicker * {
    margin: 0;
    padding: 0;
    color: #000;
    background: transparent;
    border: none;
}

.Zebra_DatePicker.dp_visible {
    visibility: visible;
    filter: alpha(opacity=100);
    -khtml-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}

.Zebra_DatePicker.dp_hidden {
    visibility: hidden;
    filter: alpha(opacity=0);
    -khtml-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
}

.Zebra_DatePicker table {
    border-collapse: collapse;
    border-spacing: 0;
    width: auto;
    table-layout: auto;
}

.Zebra_DatePicker table th, .Zebra_DatePicker table td {
    text-align: center;
    padding: 5px 0;
}

.Zebra_DatePicker table td {
    cursor: pointer;
}

.Zebra_DatePicker table td.dp_disabled, .Zebra_DatePicker table td.dp_not_in_month, .Zebra_DatePicker table td.dp_not_in_month_selectable {
    background: #F3F3F3;
    color: #CDCDCD;
    cursor: default;
}

.Zebra_DatePicker table td.dp_disabled_current {
    color: #E38585 !important;
}

.Zebra_DatePicker table td.dp_not_in_month_selectable {
    cursor: pointer;
}

.Zebra_DatePicker table td.dp_week_number {
    background: #FFCC33;
    color: #000;
    font-weight: bold;
    cursor: text;
}

.Zebra_DatePicker table td.dp_weekend {
    background: #D8D8D8;
}

.Zebra_DatePicker table td.dp_weekend_disabled {
    color: #CCC;
    cursor: default;
}

.Zebra_DatePicker table td.dp_current {
    color: #C40000;
}

.Zebra_DatePicker table td.dp_selected {
    background: #5A4B4B;
    color: #FFF;
}

.Zebra_DatePicker table td.dp_hover {
    background: #482424;
    color: #FFF;
}

.Zebra_DatePicker .dp_daypicker td, .Zebra_DatePicker .dp_daypicker th,
.Zebra_DatePicker .dp_monthpicker td,
.Zebra_DatePicker .dp_monthpicker th,
.Zebra_DatePicker .dp_yearpicker td,
.Zebra_DatePicker .dp_yearpicker th,
.Zebra_DatePicker .dp_timepicker td,
.Zebra_DatePicker .dp_timepicker th {
    background: #E8E8E8;
    width: 30px;
    border: 1px solid #7BACD2;
}

.Zebra_DatePicker .dp_header .dp_hover,
.Zebra_DatePicker .dp_footer .dp_hover {
    background: #222;
    color: #FFF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.Zebra_DatePicker .dp_header {
    margin-bottom: 3px;
}

.Zebra_DatePicker .dp_header td {
    color: #FFF;
}

.Zebra_DatePicker .dp_header .dp_previous,
.Zebra_DatePicker .dp_header .dp_next {
    width: 30px;
}

.Zebra_DatePicker .dp_header .dp_caption {
    font-weight: bold;
}

.Zebra_DatePicker .dp_daypicker th {
    background: #FFCC33;
}

.Zebra_DatePicker .dp_monthpicker td,
.Zebra_DatePicker .dp_yearpicker td {
    width: 33.3333%;
}

.Zebra_DatePicker .dp_timepicker td {
    width: 25%;
}

.Zebra_DatePicker .dp_timepicker td.dp_disabled {
    color: #000;
}

.Zebra_DatePicker .dp_footer {
    margin-top: 3px;
}

.Zebra_DatePicker .dp_footer td {
    color: #FFF;
}

.Zebra_DatePicker .dp_footer td.dp_today, .Zebra_DatePicker .dp_footer td.dp_clear, .Zebra_DatePicker .dp_footer td.dp_timepicker_toggler {
    padding: 3px;
}

.Zebra_DatePicker .dp_footer td.dp_timepicker_toggler {
    background-repeat: no-repeat;
    background-position: center center;
    padding-left: 13px;
    padding-right: 13px;
    background-image: url(timepicker.png);
}

.Zebra_DatePicker .dp_footer td.dp_timepicker_toggler_calendar {
    background-image: url(datepicker.png);
}

button.Zebra_DatePicker_Icon {
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    background: url(calendar.png) no-repeat left top;
    text-indent: -9000px;
    border: none;
    cursor: pointer;
    padding: 0;
    line-height: 0;
    margin: 0 0 0 3px;
}

button.Zebra_DatePicker_Icon.Zebra_DatePicker_Icon_Disabled {
    background-image: url(calendar-disabled.png);
}

button.Zebra_DatePicker_Icon.Zebra_DatePicker_Icon_Inside_Right {
    margin: 0 3px 0 0;
}

button.Zebra_DatePicker_Icon.Zebra_DatePicker_Icon_Inside_Left {
    margin: 0 0 0 3px;
}
