/* CTA ON TOP OF SLIDER */

@media(max-width:768px){
    .home-main-carousel {
        margin-top:60px;
    }
    .home-main-carousel.fl-module-content-slider .fl-slide-cta-button {
        text-align:left;
    }
    .home-main-carousel.fl-module-content-slider .fl-slide .fl-slide-text {
        text-align:left;
    }
    .home-main-carousel.fl-module-content-slider .fl-slide .fl-slide-text h3 {
        line-height: 1em!important;
        font-size:2.7em!important;
        margin-top:50px!important;
    }

    .home-main-carousel .fl-slide-mobile-photo {
        display:none!important;
    }
    .home-main-carousel .fl-slide-content {
        background-color:transparent!important;
    }
    .home-main-carousel .fl-content-slider .fl-slide-bg-photo {
        position:absolute!important;
    }
    .home-main-carousel.fl-module-content-slider .fl-slide .fl-slide-content {
        height:350px;
    }
    .home-main-carousel.fl-module-content-slider .fl-slide img {
        display:block;
        margin:auto;
    }
    .home-main-carousel.fl-module-content-slider .bx-wrapper {
        
    }
    .home-main-carousel .fl-module-content>* {
        
    }
    .home-main-carousel .fl-content-slider-navigation {
        display:none;
    }
    .home-main-carousel .bx-wrapper .bx-pager a{
        padding:5px;
        display:block;
    }

    .home-main-carousel .fl-button {
        font-size:12px!important;
    }


}